<% include ./partials/header %>

<h1>Results</h1>

<table id="table_id" class="display">
    <thead>
        <tr>
            <th><strong>Title</strong></th>
            <th><strong>Year</strong></th>
            <th><strong>Type</strong></th>
        </tr>
    </thead>
    <tbody>
        <% if(data.Search) {data.Search.forEach(function(movie){ %>
            <tr>
                <td>
                    <a href="movies/<%= movie.imdbID%>"><%= movie.Title %></a>
                </td>
                <td><%= movie.Year %></td>
                <td><%= movie.Type %></td>
            </tr>
        <% }); }%>
    </tbody>
</table>

<script>
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
</script>
<% include ./partials/footer %>