<% include ./partials/header %>

<h1>Search</h1>

<form action="/result" method="GET">
    <input type="text" name="search" placeholder="search term">
    <input type="submit" value="Search">
</form>

<% include ./partials/footer %>