<% include ../partials/header %>

<h1>Movie Task List</h1>

<p>Movies to watch on the next 7 days:</p>

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Title</th>
            <th>Due</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <% movies.forEach(function(movie) { %>
            <tr>
                <td><%= movie.title %></td>
                <td><%= movie.due.toDateString() %></td>
                <td><%= movie.status %></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<script>
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
</script>

<% include ../partials/footer %>