<% include ../partials/header %>

<h1>Movie Task List</h1>

<p>Movies to watch on the next 7 days:</p>

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Title</th>
            <th>Due</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Primera</td>
            <td>fila</td>
            <td>plan to watch</td>
        </tr>
        <tr>
            <td>Segunda</td>
            <td>fila</td>
            <td>plan to watch or something</td>
        </tr>
    </tbody>
</table>

<script src="/index.js"></script>

<% include ../partials/footer %>