<% include ../partials/header %>

<h3>Add <%= movie.Title %> to your tasks</h3>

<form action="/movies/<%= movie.imdbID %>/tasks" method="POST">
    <input type="date" name="due">
    <input type="submit" value="Submit">
</form>

<% include ../partials/footer %>