<% include ../partials/header %>

<h3>Add <%= movie.Title %> to your tasks</h3>

<form action="/movies/<%= movie.imdbID %>/tasks" method="POST">
    <input type="date" name="due">
    <select name="status">
        <option value="plan to watch">Plan To Watch</option>
        <option value="watched">Watched</option>
    </select>
    <input type="submit" value="Submit">
</form>

<% include ../partials/footer %>